trigger:
  batch: true
  branches:
    include:
      - master
      - staging
      - trying
pr:
  autoCancel: true
  branches:
    include:
      - "*"

variables:
  DOCKER_BUILDKIT: 1
  CI: true

jobs:
  - job: build
    displayName: Build
    timeoutInMinutes: 10
    pool:
      vmImage: "ubuntu-16.04"
    strategy:
      matrix:
        aspnet:
          imageName: "dotnet-aspnet"
          testCommand: "dotnet --info"
        sdk:
          imageName: "dotnet-sdk"
          testCommand: "dotnet --info"
        renovate:
          imageName: "renovate"
          testCommand: "renovate --version"
        node:
          imageName: "node"
          testCommand: "bash -c 'yarn --version && pnpm --version && yarn global add re2'"
        rancher:
          imageName: "rancher-cli"
          testCommand: "rancher --version"
        verdaccio:
          imageName: "verdaccio"
          testCommand: "verdaccio --info"
    steps:
      - template: .azure/build.yml
      - template: .azure/test.yml

  - job: publish
    displayName: Publish
    timeoutInMinutes: 10
    dependsOn: build
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
    pool:
      vmImage: "ubuntu-16.04"
    strategy:
      matrix:
        aspnet:
          imageName: "dotnet-aspnet"
        sdk:
          imageName: "dotnet-sdk"
        node:
          imageName: "node"
        rancher:
          imageName: "rancher-cli"
        verdaccio:
          imageName: "verdaccio"
    steps:
      - task: Docker@2
        inputs:
          containerRegistry: 'DockerHub'
          command: 'login'
      - template: .azure/build.yml
        parameters:
          command: buildAndPush
