name: linux-builds

on:
  push:
    branches:
      - main

  pull_request:
  merge_group:

env:
  OWNER: ${{ github.repository_owner }}
  BUILDKIT_PROGRESS: plain

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true


permissions: {}

jobs:

  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write

    strategy:
      matrix:
        file:
          - docker-dind
          - forgejo
          - forgejo-runner
          - garage
          - github-runner
          - nextcloud
          - roundcube
          - traefik
          - uptime-kuma
          - verdaccio

    env:
      FILE: ${{ matrix.file }}
      IMAGE: ghcr.io/${{ github.repository_owner }}/${{ matrix.file }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4
        with:
          version: v0.20.7 # renovate: datasource=github-releases depName=crane packageName=google/go-containerregistry

      - name: docker-config
        uses: containerbase/internal-tools@2304a46e39979e468bda0ebd91127e008b0b0723 # v3.14.30
        with:
          command: docker-config

      - name: Build the Docker image
        run: |
          docker buildx bake --metadata-file /tmp/meta.json test
          jq . /tmp/meta.json

      - name: Test run
        run: docker compose --file docker-compose.test.yml run sut
        working-directory: ./linux/${{ env.FILE }}

      - name: Log into registry
        if: github.ref_name == 'main'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

      - name: Publish the Docker image
        if: github.ref_name == 'main'
        run: |
          docker buildx bake --metadata-file /tmp/meta.json build
          jq . /tmp/meta.json
          digest=$(jq -r '.push_ghcr.["containerimage.digest"]' /tmp/meta.json)
          echo "digest=$digest" >> "$GITHUB_ENV"

      - name: Attest the Docker image
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        if: github.ref_name == 'main'
        with:
          subject-name: ${{ env.IMAGE }}
          subject-digest: ${{ env.digest }}
          push-to-registry: true

      - name: Publish the Docker image tags
        if: github.ref_name == 'main'
        run: |
          if [ -f push.sh ]; then
            ./push.sh
          fi
        working-directory: ./linux/${{ env.FILE }}

  success-linux:
    needs:
      - linux
    runs-on: ubuntu-latest
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled linux
        if: |
          needs.linux.result == 'failure' ||
          needs.linux.result == 'cancelled'
        run: exit 1
