name: skopeo

on:
  push:
    branches:
      - main

  pull_request:
  merge_group:

  schedule:
    - cron: '13 */6 * * *' # https://crontab.guru/#13_*/6_*_*_*

  workflow_dispatch:


concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  sync:
    runs-on: ubuntu-latest
    container:
      image: alpine:3.23@sha256:865b95f46d98cf867a156fe4a135ad3fe50d2056aa3f25ed31662dff6da4eb62

    strategy:
      matrix:
        file:
          - library
          - bitnami
          - bitnamicharts

    steps:
      - name: Install packages
        run: |
          apk add --no-cache \
            jq \
            git \
            nodejs \
            skopeo \
            ;

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: Docker login
        if: github.ref_name == 'main'
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | skopeo login -u ${{ github.repository_owner }} --password-stdin ghcr.io

      - name: Sync oci references
        run: |
          skopeo sync ${{ github.ref_name != 'main' && '--dry-run' || '' }} --all --preserve-digests --keep-going --src yaml --dest docker skopeo/${{matrix.file}}.yml ghcr.io/visualon/${{matrix.file}}

      # - name: Cleanup renovate images
      #   run: |
      #     skopeo list-tags docker://code.forgejo.org/renovate/renovate | jq -r '.Tags[]' | sed -n -Ee '/^[0-9]+\.[0-9]+\.[0-9]+/p' | sort -r -V | sed -n '50,$p' | while read version ; \
      #         do echo "deleting $version" ; \
      #         skopeo delete docker://code.forgejo.org/renovate/renovate:$version ; \
      #       done

  success-skopeo:
    needs:
      - sync
    runs-on: ubuntu-latest
    timeout-minutes: 1
    if: always()
    steps:
      - name: Fail for failed or cancelled sync
        if: |
          needs.sync.result == 'failure' ||
          needs.sync.result == 'cancelled'
        run: exit 1
